@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
section{
    background: #2c3e50;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main{
    background: #bdc3c7;
    padding: 1rem;
    border-radius: 4px;
    width:1000px;
    max-width: 90%;
    /* position: relative; */
    box-shadow: 2px 3px 5px rgba(0,0,0,0.6);
}
.timer h2{
    position: absolute;
    top: 3rem;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    background: #c0392b;
    padding: .6rem 1rem;
}

textarea{
    width: 70%;
    font-size: 2rem;
}
.display-quote{
    margin-bottom: 1rem;
    font-weight: bold;
    margin-left:calc(1rem + 2px) ;
    margin-right:calc(1rem + 2px) ;
    height: 10vh;
   }

.quote-input{
    background: transparent;
    border: 2px solid rgb(12, 64, 85);
    width: 100%;
    outline: none;
    height: 8rem;
    border-radius: .4rem;
    padding:.4rem 1rem;
    margin: auto;
    resize: none; 
    font-size: 1rem;
}
.quote-input:focus{
    border: 2px solid black;
}
.correct{
    color: green;
}
.incorrect{
    color: red;
    text-decoration: red;
}